<header>
    <h1>Terrain Heroes</h1>
    <div id="login_logout">
        {{#if userName}}
            <p>{{userName}}</p>
        {{/if}}
        {{#if session}}
            <a onclick="logoutUser()">Log out</a>
        {{else}}
            {{#if linksForLobbies}}
                <a href="../../registration">Register</a> | <a href="../../authorization">Log in</a>
            {{else}}
                <a href="registration">Register</a> | <a href="authorization">Log in</a>
            {{/if}}
        {{/if}}
    </div>
</header>
