{{#if linksForLobbies}}
    <nav>
        <ul>
            <li><a href="../../">Dashboard</a></li>
            <li><a href="../../rules">Rules</a></li>
            <li><a href="../../info">Info</a></li>
            <li><a href="../../games/lobbies">Lobbies</a></li>
        </ul>
    </nav>
{{else}}
    <nav>
        <ul>
            <li><a href="../">Dashboard</a></li>
            <li><a href="rules">Rules</a></li>
            <li><a href="info">Information</a></li>
            <li><a href="games/lobbies">Lobbies</a></li>
        </ul>
    </nav>
{{/if}}
