<main>
    <div id="title">
        <h1>{{title}}</h1>
    </div>
    <div class="content">
        <h2>News</h2>
        <p>Some news</p>
        <p>Some news</p>
        <p>Some news</p>
    </div>
</main>
