<main style="width: 100%">
    <div id="title">
        <h1>{{title}}</h1>
    </div>
    <h2>Let's play a game! >:)</h2>
    <div id="leaveGameButton">
        <a href="./lobbies">Leave the game</a>
    </div>
</main>
