<main>
    <div id="title">
        <h1>{{title}}</h1>
    </div>
    <div class="content">
        <h2>About the game</h2>
        <p>Some info</p>
        <p>Some info</p>
        <p>Some info</p>
    </div>
    <div class="content">
        <h2>There will be some screenshots eventually!</h2>
        <p>Some screenshots</p>
        <p>Some screenshots</p>
        <p>Some screenshots</p>
    </div>
</main>
