<main>
    <div id="title">
        <h1>{{title}}</h1>
    </div>
    <div class="content">
        <h2>There will be some rules eventually!</h2>
        <p>Some rules</p>
        <p>Some rules</p>
        <p>Some rules</p>
    </div>
</main>
