/*background*/
body{
    background-color: #f5ede4;
}
header{
    background-color: #e1dac9;
}
nav{
    background-color: #f5ede4;
}
main{

}
footer{
    background-color: #374448;
}
/*text*/
footer{
    color: ghostwhite;
}
